/*section a*/
.sectionTopPage {
    display: grid;
    grid-template-columns:   3fr 1fr ;
    grid-template-rows: 2fr 2fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-areas:
        "itemlGridLeft itemGridRight"
        "itemlGridLeft itemGridRight"
        "itemGridBottom itemGridBottom ";
    justify-items: center;
    align-items: center;
    width: auto;
    height: 100vh;
    padding: 0 2rem;
}

.itemlGridLeft {
    grid-area: itemlGridLeft;
    align-self: center; /*axe haut bas*/
    /*justify-self: stretch;/*axe horiz*/
    text-shadow: #000 1px 1px 1px;

}

.itemGridRight {
    grid-area: itemGridRight;
}

.itemGridBottom {
    grid-area: itemGridBottom;
    justify-self: center; /*axe horiz*/
    align-self: center;
}

/******section b *****/
.sectionMiddlePage {
    display: flex;
    flex-direction: column;

}

/******************************/
.layoutCompetencesFlex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: space-between;
    line-height: 1.75;

}

.itemFlexCompetences:first-child{
    margin-bottom: 1rem;
}

.itemFlexCompetences:last-child {
    margin-TOP: 1rem;
}

/*le grid dans un contenaire flex
    pour les competences*/
.gridInLayoutCompetences {
    display: grid;
    grid-template-columns: 2.618fr 1.618fr;
    grid-template-rows:1fr 3fr;
    grid-column-gap: 0;
    grid-row-gap: 2rem;
    grid-template-areas:
        "title-grid img-grid"
        "text-grid img-grid";
    justify-items: start; /* axe horiz*/
    text-align: left;

}

.titleGrid {
    grid-area: title-grid;
    justify-self: stretch;
    width: 100%;
    height: 100%;
}

.textGrid {
    grid-area: text-grid;
    align-self: center;
    width: 100%;
    height: 100%;
}

.imgGrid {
    grid-area: img-grid;
    justify-self: center;
    width: 100%;
    height: 100%;

}

.bordureImg {

}

/***** les commentaires *****/
.contenaireFlexCommentaires {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;


}

.itemFlexCommentaires {
    margin: 0 0 1% 0;
    width: 100%;
    border-radius: 1rem;
}


.itemFlexCommentaires > div {
    display: inline-block;
    width: auto;
    margin-right: 2rem;

}

/* footer */

.itemNotationDuFormulaire{
    width: 15%;

}
.containerFlexFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

