/*Taille div fond*/
:root {

    --color1: #03071E;
    --color2:#370617;
    --color3:#6A040F;
    --color4:#9D0208;
    --color5:#D00000;
    --color6: #DC2F02;
    --color7:#E85D04;
    --color8:#F48C06;
    --color9:#FAA307;
    --color10:#FFBA08;

}
.color7{
    color:var(--color7);
}

* {
     text-decoration: none;
     box-sizing: border-box;

 }
nav {

    top: 0;
    left: 0
}
nav img,ul.topnav li a {
    height: 132px;
    width: auto
}

/*****************************/
#leMenu {
    position: fixed;
    z-index: 2;
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 14px 0 rgba(0,0,0,.75);
    border-radius: 25px 0 0 25px;
}


/*****************************/
.construction{
    background-color: var(--color10);
    color: var(--color4);
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
}


span.line-1{
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color7);
    margin: 1rem 0 1rem 0;

}

/*class animation slide*/
.gauche {
    position: relative;
    left: -200%;
}

.droite {
    position: relative;
    right: -200%;
}
footer .item-flex{
    max-width: 16rem;
}
footer p{
    text-align: center;
}

/* */

