@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap'); /*Taille div fond*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300&family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');
:root {

    --color1: #03071E;
    --color2: #370617;
    --color3: #6A040F;
    --color4: #9D0208;
    --color5: #D00000;
    --color6: #DC2F02;
    --color7: #E85D04;
    --color8: #F48C06;
    --color9: #FAA307;
    --color10: #FFBA08;
    --color11: #fcd29c;
    --color12: #6e0c2f;
}


a:hover{background: rgba(0,0,0,.5);
border-radius: 2rem;
}
* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
nav {
    top: 0;
    left: 0
}
/* texte : Pour me contacter dans le form*/
h3{
    font-size: 2rem;
    text-align: center;
    background-color: #03071E;
}

nav img, ul.topnav li a {
    height: 132px;
    width: auto
}

/*****************************/
#leMenu {
    position: fixed;
    z-index: 2;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .75);
    border-radius: 25px 0 0 25px;
}

/*texte avertissement du site en construction*/
.construction {
    background-color: var(--color10);
    color: var(--color4);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

/*ligne de separation*/
span.line-1 {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color7);
    margin: 1rem 0 1rem 0;
}
/* js pour fermer le formulaire*/
p[id="close"]{
    text-align: center;
    background-color: #000000;
    color: #f1f7ed;
}
p[id="close"]:hover{
    background-color: red;

}


form * {
    display: block;
    width: 100%;
}

footer ul, ul#leMenu {
    list-style-type: none
}

footer .item-flex {
    max-width: 16rem;

}
footer p {
    text-align: center;
}
@media screen and (orientation: landscape)and (min-width: 539px) {
    /*class animation slide*/
    .isInvisibleLeft {
        position: relative;
        left: -200%;
    }
    .isInvisibleRight {
        position: relative;
        right: -200%;
    }
    /******/

    #burger {
        z-index: 100;
        position: fixed;
        top: 8px;
        left: 8px;
        height: 64px;
        width: 64px;
        background-color: #1b202b;
        border: 5px solid #fff;
        margin: 8px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .75);
        border-radius: 16px;
    }

    div#burger > span {
        display: block;
        height: 8px;
        background-color: #f1f7ed;
        border-radius: 2px;
        margin: 8px 12px
    }

    #leMenu {

        right: -25%;
        top: 15vh;

    }

    #leMenu * {
        width: 15vw;
        height: auto;
    }

    ul#leMenu {
        list-style-type: none;
        overflow: hidden;
        padding: 2rem 0 0 2rem;
    }

    ul#leMenu li a {
        display: block;
        color: #f7fff7;
        text-align: left;
        font-size: 64px;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000;
        margin-bottom: 2%;
    }
}

@media screen and (orientation: portrait)and (min-width: 538px) {
    /*class animation slide*/
    .isInvisibleLeft {
        position: relative;
        left: 0;
    }

    .isInvisibleRight {
        position: relative;
        right: 0;
    }

    #burger {
        position: fixed
    }

    #burger {
        z-index: 100;
        top: 2rem;
        left: 2rem;
        height: 128px;
        width: 128px;
        background-color: #1b202b;
        border: 5px solid #fff;
        margin: 8px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .75);
        border-radius: 32px;
    }

    div#burger > span {
        display: block;
        height: 8px;
        background-color: #f1f7ed;
        border-radius: 2px;
        margin: 16px 24px
    }
    #leMenu {
        z-index: 90;
        right: 200%;
        top: 25vh;
    }
    ul#leMenu {
        list-style-type: none;
        overflow: hidden;
        padding: 3rem;
    }
    ul#leMenu li {
        top: 25vh;
        left: 50%
    }

    ul#leMenu li a {
        display: block;
        color: #f7fff7;
        text-align: left;
        font-size: 64px;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000;
        padding-left: 10%;
        margin: 2% 0 0
    }

    /*****************************/
    .topnav {
        z-index: 2;
        top: 25vh;
        width: 100vw;
        height: 100vw;
        border: 1px solid #878b98;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, .75)
    }

    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        padding: 15% 0
    }

    ul.topnav li {
        top: 25vh;
        left: 50%
    }

    ul.topnav li a {
        display: block;
        color: #f7fff7;
        text-align: left;
        font-size: 64px;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000;
        padding-left: 10%;
        margin: 2% 0 0
    }


}

/* */

