@media screen and (orientation: landscape)and (min-width: 539px) {
    html, ul#leMenu li a > * {

    }

    h1 {
        font-weight: lighter;
        font-family: 'Limelight', sans-serif;
        text-align: left;
        padding-top: 6%;
        font-size: 4vw;
        text-shadow: 2px 2px 2px #3c1801;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    h2 {
        color: var(--color10);
        font-weight: 400;
        text-align: left;
        font-size: 2vw;
        padding-top: 6%;

    }

    h3 {
        font-weight: 400;
        color: #f1f7ed;
    }


    p {
        font-size: 2rem;
        line-height: 1.175;
        font-weight: 300;
        padding: 2%;
    }


    h4 {
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        text-align: center;
        margin: 4rem 0;
        color: black;
    }
    img{
        height: 100%;
        width: 100%;
    }

    /*****************************/
    /* imageMAX taille auto du contenaire*/
    #section-a {
        display: grid;
        grid-template-columns:  1fr 2fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        grid-template-areas:
        ". left right ."
        ". bottom bottom .";
        justify-items: center;
        align-items: center;
        text-align: justify;

    }


    #section-b {/* flex*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        height: auto;

    }

    .section-c {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.618fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        justify-items: stretch;
        align-items: stretch;
        /*background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(2px);*/
        font-size: 1.2rem;
        text-align: left;

    }

    /*section a*/
    .item-grid-left {
        grid-area: left;
        align-self: center; /*axe haut bas*/
        /*justify-self: stretch;/*axe horiz*/
        text-shadow: #000 1px 1px 1px;

    }

    .item-grid-right {
        grid-area: right;

    }

    .item-grid-bottom {
        grid-area: bottom;
        justify-self: center; /*axe horiz*/
        align-self: center;
    }

    /*section c*/
    .item-grid-gauche-3 {
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .container-flex-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;

    }
    .container-flex-logo>div{
    height: 100%;
        width:10%;
    }

    .grid-in-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto auto;
        grid-template-areas:
        "title-grid ."
        "text-grid img-grid";
        justify-items: start; /* axe horiz*/
        text-align: justify;
        border-radius: 1rem;
        border: 1px solid rgba(0,0,0,.2);
        padding: 2%;

    }
    .item-flottant-flex:first-child{
        margin-bottom: 2%;
    }
    .title-grid {
        grid-area: title-grid;
        justify-self: center;
    }

    .text-grid {
        grid-area: text-grid;
        align-self: center;
    }

    .img-grid {
        grid-area: img-grid;
        justify-self: center;

    }
    .bordureImg{
        border:5px solid #e85d04 ;
    }
  

    /*formulaire*/

    form {
        text-align: center;
        background-color: #3c1801;
        border: 2px solid var(--color2);
        border-radius: 1rem;
        color: #f1f7ed;

    }

    label[for="Nom"] {
        background-color: var(--color9);
    }

    label[for="Prenom"] {
        background-color: var(--color8);
    }

    label[for="Email"] {
        background-color: var(--color7);
    }

    label[for="Message"] {
        background-color: var(--color6);
    }

    button[id="fermer"] {
        font-size: 1.5rem;
        background-color: var(--color3);
        border: 2px solid var(--color2);
        color: #f1f7ed;

    }

    button[type='submit'] {
        font-size: 1.5rem;
        background-color: var(--color3);
        border: 2px solid var(--color2);
        color: #f1f7ed;
        border-radius: 4px;
    }

    button:hover {
        background-color: var(--color9);
        border: 2px solid var(--color1);
    }

    footer {
        border-top: 2px solid var(--color2);
        background-color: var(--color1);
        color: white;
    }

    footer img {
        max-height: 149px;
        max-width: 149px;
    }

    /*  GRID     */

}