@media screen and (orientation: landscape)and (min-width: 539px) and (max-width: 1920px) {
    html, ul#leMenu li a > * {

    }

    * {
        margin: 0;
    }

    /******/
    html {
        font-family: Roboto, sans-serif;
        font-weight: lighter;
        color: #ffffff;
        background-color: var(--color1);
        font-size: 16px;

    }
    main {
        top: 0;
        margin: 0;
    }

    #section-a {
        background-image: url("../asset/background/triple_v05_01.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        min-height: 100vh;

    }
    #section-b {
        background: rgb(3,7,30);
        background: linear-gradient(180deg, rgba(3,7,30,0.2) 0%, rgba(55,6,23,0.5) 66%, rgba(3,7,30,0.2) 100%);
}

    #section-c {
        background-image: url("../asset/background/triple_v05_03.jpg");
        background-size: cover;
        background-repeat: no-repeat;

    }

    #burger {
        position: fixed
    }

    #burger {
        z-index: 100;
        top: 8px;
        left: 8px;
        height: 64px;
        width: 64px;
        background-color: #1b202b;
        border: 5px solid #fff;
        margin: 8px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .75);
        border-radius: 16px;
    }

    div#burger > span {
        display: block;
        height: 8px;
        background-color: #f1f7ed;
        border-radius: 2px;
        margin: 8px 12px
    }


    #leMenu {
        right: -25%;
        top: 15vh;
        border-radius: 10% 0 0 10%;
    }

    #leMenu * {
        width: 15vw;
        height: auto;

    }

    ul#leMenu {
        list-style-type: none;
        overflow: hidden;
        padding: 2rem 0 0 2rem;
    }

    ul#leMenu li a {
        display: block;
        color: #f7fff7;
        text-align: left;
        font-size: 64px;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000;
        margin-bottom: 2%;
    }

    h1 {
        font-weight: lighter;
        font-family: 'Limelight', sans-serif;
        text-align: left;
        line-height: 4rem;
        font-size: 5rem;
        text-shadow: 2px 2px 2px #3c1801;
    }

    h1 > span {
        font-size: 4rem;
        line-height: 3rem;


    }

    h2 {
        color: var(--color10);

        font-weight: lighter;
        text-align: justify-all;
        font-size: 2rem;
    }

    h3 {
        color: #f1f7ed;
    }

    h4 {
        font-size: 1.2rem;
    }

    footer ul, ul#leMenu {
        list-style-type: none
    }

    /*****************************/
    /* imageMAX taille auto du contenaire*/
    .item-flex > img {
        padding: 0 12%;
    }

    .maxImage {
        height: 100%;
        width: 100%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .contenaire-grid-1,.contenaire-grid-2,.contenaire-grid-3{
        display: grid;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        overflow: hidden hidden;
        /*background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(2px);*/
        justify-items: center;
        align-items: center;
        overflow-wrap: anywhere;
        text-align: justify;
        padding: 6% 20%;
    }
    .contenaire-grid-1 {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .contenaire-grid-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0;

    }

    .contenaire-grid-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        /*background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(2px);*/
        font-size: 1.2rem;
        text-align: left;

    }

    /*section a*/
    .item-grid-left-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center; /*axe haut bas*/
        /*justify-self: stretch;/*axe horiz*/
        text-shadow: #000 1px 1px 1px;

    }

    .item-grid-right-1 {
        grid-column: 2/3;
        grid-row: 1/2;
        text-shadow: #000 1px 1px 1px;
    }

    .item-grid-bottom-1 {
        grid-column: 1/3;
        grid-row: 2/3;
        align-self: center; /*axe verti*/
        /*justify-self: stretch;/*axe horiz*/

    }

    /*grid 2 item*/
    img#roll-picture {
        height: 50%;
        width: auto;
    }

    /* section b */

    .item-grid-left-2 {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 2rem;
        text-align: right;
        justify-self: stretch;
        align-self: stretch;
        background-color: var(--color8);
        border-radius: 6px 0 0 6px;
    }
    #roll-text,#roll-picture{
        padding: 2%;
        text-shadow: #000 2px 1px 1px;
    }


    .item-grid-right-2 {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: stretch; /*axe verti*/
        /*justify-self: stretch;/*axe horiz*/
        justify-self: stretch;
        background-color: var(--color7);
        border-radius: 0 6px 6px 0;
    }

    .item-grid-bottom-2 {
        grid-column: 1/3;
        grid-row: 2/3;
        align-self: center; /*axe verti*/
        /*justify-self: stretch;/*axe horiz*/
    }


    /*section c*/
    .item-grid-gauche-3 {
        grid-column: 1/2;
        grid-row: 1/2;
    }


    .item-grid-droite-3 {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center; /*axe verti*/
        justify-self: stretch; /*axe horiz*/
    }



    /*flex*/
    .container-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

    }

    .item-flex {
        align-items: center;
    }

    /*formulaire*/
    form * {
        display: block;
        height: 100%;
        width: 100%;


    }

    form {
        text-align: center;
        background-color: #3c1801;
        border: 2px solid var(--color2);
        border-radius: 6px;
        color: #f1f7ed;

    }

    label[for="Nom"] {
        background-color: var(--color9);
    }

    label[for="Prenom"] {
        background-color: var(--color8);
    }

    label[for="Email"] {
        background-color: var(--color7);
    }

    label[for="Message"] {
        background-color: var(--color6);
    }

    button[id="fermer"] {
        font-size: 1.5rem;
        background-color: var(--color3);
        border: 2px solid var(--color2);
        color: #f1f7ed;

    }

    button[type='submit'] {
        font-size: 1.5rem;
        background-color: var(--color3);
        border: 2px solid var(--color2);
        color: #f1f7ed;
        border-radius: 4px;
    }
}