@media screen and (orientation: landscape)and (min-width: 539px) {
    html, ul#leMenu li a > * {

    }

    * {
        margin: 0;
    }

    /******/
    html {
        font-family: Roboto, sans-serif;
        font-weight: lighter;
        color: #ffffff;
        background-color: var(--color1);
        font-size: 16px;

    }


    #section-a {
        background-image: url("../asset/background/tripleV8_01.jpg");
        background-size: cover;
        background-repeat: no-repeat no-repeat;
        width: auto;
        height: auto;
    }

    #section-b {
        /*background-image: url("../asset/background/tripleV8_02.jpg");*/
        /*background-size: contain;*/
        /*background-repeat: no-repeat no-repeat;*/
        background-color: white;
        color: black;
        height: 100vh;
        padding: 6% 12%;


    }

    #section-c {
        background-image: url("../asset/background/tripleV8_03.jpg");
        background-size: contain;
        background-repeat: no-repeat no-repeat;
        width: auto;
        height: auto;
        padding: 6% 20%;
    }

    #burger {
        position: fixed
    }

    #burger {
        z-index: 100;
        top: 8px;
        left: 8px;
        height: 64px;
        width: 64px;
        background-color: #1b202b;
        border: 5px solid #fff;
        margin: 8px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .75);
        border-radius: 16px;
    }

    div#burger > span {
        display: block;
        height: 8px;
        background-color: #f1f7ed;
        border-radius: 2px;
        margin: 8px 12px
    }

    #leMenu {
        right: -25%;
        top: 15vh;

    }

    #leMenu * {
        width: 15vw;
        height: auto;

    }

    ul#leMenu {
        list-style-type: none;
        overflow: hidden;
        padding: 2rem 0 0 2rem;
    }

    ul#leMenu li a {
        display: block;
        color: #f7fff7;
        text-align: left;
        font-size: 64px;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000;
        margin-bottom: 2%;
    }

    h1 {
        font-weight: lighter;
        font-family: 'Limelight', sans-serif;
        text-align: left;
        padding-top: 6%;
        font-size: 4vw;
        text-shadow: 2px 2px 2px #3c1801;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    h2 {
        color: var(--color10);
        font-weight: lighter;
        text-align: left;
        font-size: 2vw;
        padding-top: 6%;
    }

    h3 {
        color: #f1f7ed;
    }


    p {
        padding: 2%;
    }


    h4 {
        font-size: 1.2rem;
        text-align: center;
        margin:2rem 1rem;
        border-radius: 20px;
        color: black;
    }


    footer ul, ul#leMenu {
        list-style-type: none
    }

    /*****************************/
    /* imageMAX taille auto du contenaire*/
    #section-a {
        display: grid;
        grid-template-columns:  1fr 2fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        grid-template-areas:
        ". left right ."
        ". bottom bottom .";
        justify-items: center;
        align-items: center;
        text-align: justify;

    }

    .section-c {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.618fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        justify-items: stretch;
        align-items: stretch;
        /*background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(2px);*/
        font-size: 1.2rem;
        text-align: left;

    }

    /*section a*/
    .item-grid-left {
        grid-area: left;
        align-self: center; /*axe haut bas*/
        /*justify-self: stretch;/*axe horiz*/
        text-shadow: #000 1px 1px 1px;
    }

    .item-grid-right {
        grid-area: right;

    }

    .item-grid-bottom {
        grid-area: bottom;
        justify-self: center; /*axe horiz*/
        align-self: center;
    }

    /*section c*/
    .item-grid-gauche-3 {
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .container-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;

    }

    .item-flex > .logo {
        max-height: 4rem;
        max-width: 4rem;
    }

    .grid-in-flex {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows:1fr 2fr;
        grid-template-areas:
        "title-grid ."
        "text-grid img-grid";
        justify-items: start; /* axe horiz*/

        text-align: justify;

    }

    .title-grid {
        grid-area: title-grid;
        background-color: #E85D04;
        border-radius: 4rem;
        align-self: center;
        justify-self: center;
        height: 8rem;
        width: 8rem;
    }

    .text-grid {
        grid-area: text-grid;
        align-self: center;
    }

    .img-grid {
        grid-area: img-grid;
        justify-self: end;
        padding: 2%;
        width: 100%;

    }

    .grid-in-flex img{
        max-width: 50%;
        max-height: 50%;
        border-radius: 2rem;
        margin-left:25%;
    }



    #section-b {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        height: auto;
    }

    .item-flottant-flex {

        border-radius: 25px;
    }


    /*formulaire*/
    form * {
        display: block;
        height: 100%;
        width: 100%;
    }

    form {
        text-align: center;
        background-color: #3c1801;
        border: 2px solid var(--color2);
        border-radius: 1rem;
        color: #f1f7ed;

    }

    label[for="Nom"] {
        background-color: var(--color9);
    }

    label[for="Prenom"] {
        background-color: var(--color8);
    }

    label[for="Email"] {
        background-color: var(--color7);
    }

    label[for="Message"] {
        background-color: var(--color6);
    }

    button[id="fermer"] {
        font-size: 1.5rem;
        background-color: var(--color3);
        border: 2px solid var(--color2);
        color: #f1f7ed;

    }

    button[type='submit'] {
        font-size: 1.5rem;
        background-color: var(--color3);
        border: 2px solid var(--color2);
        color: #f1f7ed;
        border-radius: 4px;
    }

    button:hover {
        background-color: var(--color9);
        border: 2px solid var(--color1);
    }

    footer {
        border-top: 2px solid var(--color2);
        background-color: var(--color1);
        color: white;
    }

    footer img {
        max-height: 149px;
        max-width: 149px;
    }

    /*  GRID     */

}