@media screen and (orientation: portrait)and (min-width: 538px) {
    html {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: black;
        background-color: white;
    }

    h1 {
        font-weight: lighter;
        font-family: 'Limelight', sans-serif;
        text-align: left;
        line-height: 7rem;
        font-size: 6rem;
        text-shadow: 2px 2px 2px #3c1801;
        color: white;
    }


    h2 {
        color: var(--color10);
        font-weight: lighter;
        text-align: justify-all;
        font-size: 3rem;
    }

    h4 {
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
        color: #f1f7ed;
        padding-top: 6%;
    }

    /*****************************/
    p.construction {
        display: inline;
        color: #000;
    }


    img, iframe {
        max-width: 100%;
        max-height: 100%;

    }

    /* imageMAX taille auto du contenaire*/
    #section-a {
        display: grid;
        grid-template-columns:  1fr 2fr 2fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        grid-template-areas:
        ". left right ."
        ". bottom bottom .";
        justify-items: center;
        align-items: center;
        padding-top: 20%;
        background-image: url("../asset/background/v8_mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat no-repeat;
        width: auto;
        height: auto;
    }
    /*section a*/
    .item-grid-left {
        grid-area: left;
        align-self: center; /*axe haut bas*/
        /*justify-self: stretch;/*axe horiz*/
        text-shadow: #000 1px 1px 1px;
    }

    .item-grid-right {
        grid-area: right;
    }

    .item-grid-bottom {
        grid-area: bottom;
        justify-self: center; /*axe horiz*/
        align-self: center;
    }

    #section-b {/* flex*/
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 100vh;
        margin: 0 8px;
    }
    #section-b p{
        padding: 0 2%;
    }
    /*le grid dans un contenaire flex*/
    .grid-in-flex {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:1fr 2fr 2.2fr;
        grid-template-areas:
        "title-grid"
        " img-grid"
        "text-grid";
        text-align: justify;
        padding-bottom: 2rem;
        border-radius: 1rem;
        border: 1px solid rgba(0,0,0,.2);
    }

    .title-grid {
        grid-area: title-grid;
        justify-self: center;
        width: 100%;
        height: 80%;
        background-color: var(--color12);
        border-radius: 1rem 1rem 0 0;
    }

    .text-grid {
        grid-area: text-grid;
        align-self: center;

    }

    .img-grid {
        grid-area: img-grid;
        width: 100%;
        height: 100%;
    }

    .roll-picture{
        width: 100%;
        height: 100%;

    }
    .bordureImg{
        border:5px solid #e85d04 ;
    }
    .item-flottant-flex:nth-child(even){
        background-color:rgba(0,0,0,0.1);
        border-radius: 1rem;
        color: black;
        margin-bottom: 1rem;
    }
    .item-flottant-flex:nth-child(odd){
        background-color:white;
        border-radius: 1rem;
        color: black;
        margin-bottom:1rem;
    }
    .section-c {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.618fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        justify-items: stretch;
        align-items: stretch;
        /*background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(2px);*/
        font-size: 1.2rem;
        text-align: left;


    }


/* container pour les logo en Top et footer*/
    .container-flex-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;

    }

    .item-flex > .logo {
        max-height: 6rem;
        max-width: 6rem;
    }


    footer .container-flex-logo {
        justify-content: center;
        background-color: var(--color1);
        color: white;
        margin-top: 2%;
    }

    /*formulaire*/
    form {

        text-align: center;
        background-color: rgba(0, 0, 0, 0.15);
       backdrop-filter: blur(2px);
        border: 2px solid var(--color2);
        border-radius: 6px;
        color: #f1f7ed;
        height: 100%;
        width: 100%;
    }
    form * {

        display: block;
        width: 100%;
        font-size: 2rem;
        font-weight: bolder;
        text-align: left;
        padding: 1rem 1rem;

    }

    form{
        position: fixed;
        transform: scale(0);
        width: 100%;

    }
    label[for="Nom"] {
        background-color: var(--color9);
    }

    label[for="Prenom"] {
        background-color: var(--color8);
    }

    label[for="Email"] {
        background-color: var(--color7);
    }

    label[for="Message"] {
        background-color: var(--color6);
    }

    button[id="fermer"] {
        font-size: 1.5rem;
        background-color: var(--color3);
        border: 2px solid var(--color2);
        color: #f1f7ed;

    }

    button[type='submit'] {
        text-align: center;
        font-size: 4rem;
        background-color: var(--color3);
        border: 2px solid var(--color2);
        color: #f1f7ed;
        border-radius: 4px;
    }

    button:hover {
        background-color: var(--color9);
        border: 2px solid var(--color1);
        color: #f1f7ed;

    }

}