@import url("layout_smart.css") screen and (orientation: portrait)and (min-width: 538px);

@media screen and (orientation: portrait)and (min-width: 538px) {

    html {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 18px;
        background: rgb(3,7,30);
        background: radial-gradient(circle, rgba(3,7,30,1) 0%, rgba(3,7,30,0.50) 100%);

    }
    p {
        font-size: 2rem;
        line-height: 1.175;
    }
    h4 {
        font-size: 2rem;

    }

    #burger {
        height: 5rem;
        width: 5rem;
    }
    #leMenu {
        right: -30vh;
        top: 15vh;

    }
    #leMenu * {
        width: 30vw;
        height: auto;
    }

    input[type=checkbox] {
    transform: scale(2);

}
    form{
        background: rgb(3,7,30);
        background: linear-gradient(0deg, rgba(3,7,30,1) 0%, rgba(3,7,30,0.87718837535014) 100%);

    }
    #form2 input[type=date],
    #form2 label,
    #form2 select {
        display   : inline-block;
        width     : 20%;
       min-height: 3rem;
        padding   : 2px 2px;
        margin    : 2px 2px;

    }
    /* container pour les logo en Top et footer*/
    footer {
        border-top: 2px solid var(--color2);
        background-color: var(--color1);
        color: white;
    }

    footer img {
        max-height: 149px;
        max-width: 149px;
    }
}